pandas==1.1.0
django==3.1
django-cors-headers==3.4.0
django-timezone-field==4.0
django-filter==2.3.0
django-redis==4.12.1
djangorestframework==3.11.1
djangorestframework-jwt==1.11.0
mysqlclient==2.0.1
